* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.app {
  display: flex;
  width: 100vw;
  height: 100vh;
  align-items: center;
  justify-content: center;
}
.game {
  display: flex;
  flex-wrap: wrap;
  height: 560px;
  width: 560px;
}
.game img {
  height: 70px;
  width: 70px;
}
